@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: honeydew;
}
body{
    background-color: #212529;
    font-family: "Teachers", sans-serif;
    font-size: 20px;
}
span{
    font-weight: bolder;
}
.cursor-pointer{
    cursor: pointer;
}
/**************************** HEADER *************************/
header{
    background-color:#1c2023;
    display: block;
    padding: 35px;
}
h1 {
  font-family: "Bitcount Prop Double Ink",sans-serif;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
header ul{
    display: flex;
    justify-content: center;
}
header li{
    list-style: none;
}
header a {
    color: #a430a4;
    border : solid 2px #a430a4;
    padding: 10px;
    text-decoration: none;
}
header a:hover{
    border: solid 2px #1c2023;
    background-color: #a430a4;
    color: #212529;
}
.page_active{
    border: solid 2px #1c2023;
    border-collapse : collapse;
    background-color: #a430a4;
    color: #212529;
}
/* ************************* CORPS PAGE INDEX *************************** */
main{
    display: flex;
    justify-content:center;
}
.capsule{
    background-color:#1c2023;
    border-radius: 15px;
    border: solid 1px grey;
    padding: 35px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.capsule h2{
    padding: 15px;
}
.capsule img{
    padding: 20px;
    width: 350px;
}

/* **********************FOOTER ************************* */
footer{
    height: 60px;
    width: 100vw;
    position: sticky;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}
