@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: honeydew;
}
body{
    background-color: #212529;
    font-family: "Teachers", sans-serif;
    font-size: 20px;
}
span{
    font-weight: bolder;
}

/**************************** HEADER *************************/
header{
    background-color:#1c2023;
    display: block;
    padding: 35px;
}
h1 {
  font-family: "Bitcount Prop Double Ink",sans-serif;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
header ul{
    display: flex;
    justify-content: center;
}
header li{
    list-style: none;
}
header a {
    color: #a430a4;
    border : solid 2px #a430a4;
    padding: 10px;
    text-decoration: none;
}
header a:hover{
    border: solid 2px #1c2023;
    background-color: #a430a4;
    color: #212529;
}
.page_active{
    border: solid 2px #1c2023;
    border-collapse : collapse;
    background-color: #a430a4;
    color: #212529;
}
/* ************************* CORPS PAGE INDEX *************************** */
main{
    display: flex;
    justify-content:center;
}
.capsule{
    background-color:#1c2023;
    border-radius: 15px;
    border: solid 1px grey;
    padding: 35px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.capsule h2{
    padding: 15px;
}
.capsule img{
    padding: 20px;
    width: 350px;
}

/* ************************* CORPS PAGE INSCRIPTION *************************** */
fieldset{
    border : none;
}
form{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: repeat(11,50px); */
}
label, input, .force_mot-de-passe{
    margin: 10px;
    border : none
}
#motdepasse ~ p{
    font-size: 14px;
}
.force_mot-de-passe {
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 10%;
    justify-content: space-evenly;
}
.force_mot-de-passe :first-child{
    border-top: solid 3px orange;
    justify-items: center;
}
.force_mot-de-passe :nth-child(2n+2){
    border-top: solid 3px yellow;
    justify-items: center;
}
.force_mot-de-passe :last-child{
    border-top: solid 3px green;
    justify-items: center;
}
.btn_fin_formulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn_fin_formulaire input{
    padding: 10px;
    background-color: #a430a4;
    border-radius: 10px;
    margin: 10px;
}
/* ************************* CORPS PAGE PROFIL *************************** */
.img_nonactif{display: none;}
thead {
  background: #a430a4;
}
thead th{
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
  border: 2px solid whitesmoke;
  border-collapse:collapse;
}
table{
  text-align: center;
}
tbody tr{
  border: 2px solid whitesmoke;
  border-collapse:collapse;
}
/* ************************* CORPS PAGE JOUER *************************** */
#message_consigne{display: block;}
#message_gagne{display: none;}
.flex-contain-jouer{
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: calc(0.75 * 40vw - 2 * 5px);
    margin-top: 20px;
}
.flex-contain-jouer>.carte{
    /* pour en avoir 4 en ligne moins les marges */
    width: calc(25% - 2 * 5px); 
    margin: 5px;
    position: relative;
}
.flex-contain-jouer>.carte > img{
    width: 100%;
    padding: 20px;
    position: absolute;
    background: #31353a;
    border-radius: 10px;
}
.flex-contain-jouer>.taille5x4{display: none;}
.carte > .face_cachee{
    visibility:initial;
}
.carte > .carte_visible{
    visibility: hidden;
}
.carte.tourne > .face_cachee{
    visibility: hidden;
}
.carte.tourne > .carte_visible{
    visibility:initial;
}
/* **********************FOOTER ************************* */
footer{
    height: 60px;
    width: 100vw;
    position: sticky;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}