@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Poiret+One&display=swap");

* {
  background-color: antiquewhite;
  font-family: "Poiret One", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Bitcount Prop Double Ink";
}
